---
// src/components/ArticleCard.astro
type ColorKey = "sky" | "purple" | "pink" | "slate";
export interface Props {
  id: string; // idをpropsとして受け取る
  category: string;
  title: string;
  description: string;
  date: string;
  imageUrl: string;
  categoryColor: ColorKey;
}
// idも受け取る
const { id, category, title, description, date, imageUrl, categoryColor } =
  Astro.props;

// colorMapにも 'slate' の定義を追加します
const colorMap: Record<ColorKey, string> = {
  sky: "text-sky-600 bg-sky-100",
  purple: "text-purple-600 bg-purple-100",
  pink: "text-pink-600 bg-pink-100",
  slate: "text-slate-600 bg-slate-100",
};

const categoryClasses = colorMap[categoryColor];
---

<!-- article全体をリンクにする -->
<a
  href={`/blog/${id}/`}
  class="block transition-shadow duration-300 hover:shadow-xl"
>
  <article class="bg-white rounded-xl shadow-md overflow-hidden h-full md:flex">
    <div class="md:w-1/3">
      <img
        class="h-48 w-full object-cover md:h-full"
        src={imageUrl}
        alt={`「${title}」の記事の画像`}
      />
    </div>
    <div class="p-6 md:p-8 md:w-2/3">
      <span class={`text-xs font-semibold py-1 px-3 rounded-full`}
        >{category}</span
      >
      <h3 class="font-bold text-xl mt-3 mb-3">{title}</h3>
      <p class="text-slate-600 text-sm mb-4">{description}</p>
      <time class="text-xs text-slate-500">{date}</time>
    </div>
  </article>
</a>
