---
// src/layouts/BaseLayout.astro
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/main.scss";

export interface Props {
  pageTitle?: string;
  pageDescription?: string;
  ogImageUrl?: string;
}

const {
  pageTitle,
  pageDescription = "書斎のテックギアは、デスク周りのガジェットやソフトウェアについての情報を発信する技術ブログです。",
  ogImageUrl,
} = Astro.props;

const siteTitle = "書斎のテックギア";
const title = pageTitle ? `${pageTitle} | ${siteTitle}` : siteTitle;
const ogpImageUrl =
  ogImageUrl || new URL("default-og-image.png", Astro.site).href;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={pageDescription} />

    <!-- OGP Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content={ogpImageUrl} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={pageDescription} />
    <meta name="twitter:image" content={ogpImageUrl} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Noto+Sans+JP:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- スタイルは src/styles/main.scss に集約 -->
  </head>
  <body class="bg-custom-bg text-slate-800">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
